APP_PORT_NEST=3000
APP_PORT_EXPRESS=3001
APP_HOST=localhost
APP_URL=http://localhost:5173


MONGO_URL=mongodb+srv://<user>:<password>@<clusterxxxxxxxxx>.mongodb.net/<database>

POSTGRES_PORT=5432
POSTGRES_HOST=localhost
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=forum-app

JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=

CORS_ORIGINS=http://localhost:5173
